@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@theme {
    --breakpoint-ml: 72rem;
    --font-heading: 'Tomorrow', sans-serif;
}

@plugin "./assets/daisyui.js" {
    themes: all;
}

.divider {
    --divider-m: 0px;
}