[workspace]
members = [
    "host",
    "frontend",
    "tlock-pdk",
    "tlock-hdk",
    "tlock-api",
    "plugins/plugin-template",
    "plugins/eoa-vault",
"plugins/vault-page",
    "plugins/eth-provider",
    "plugins/uniswap-plugin",
    "wasmi/runtime",
    "wasmi/wasmi-async",
    "wasmi/wasmi-pdk",
    "wasmi/wasmi-hdk",
    "wasmi/test-plugin",
]

resolver = "2"

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
