[workspace]
members = [
    "host",
    "frontend",
    "tlock-pdk",
    "tlock-hdk",
    "tlock-api",
    "tlock-alloy",
    "plugins/plugin-template",
    "plugins/eoa-vault",
    "plugins/vault-page",
    "plugins/eth-provider",
    "wasmi/runtime",
    "wasmi/wasmi-async",
    "wasmi/wasmi-pdk",
    "wasmi/wasmi-hdk",
    "wasmi/test-plugin",
]

resolver = "2"

[profile.release]
lto = true

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[workspace.dependencies]
alloy = {version = "1.1.2", features = ["wasm-bindgen", "json-rpc", "rpc-types-trace", "eip712"] }
host = { path = "./host" }
tlock-alloy = { path = "./tlock-alloy" }
tlock-api = { path = "./tlock-api" }
tlock-hdk = { path = "./tlock-hdk" }
tlock-pdk = { path = "./tlock-pdk" }
runtime = { path = "./wasmi/runtime" }
wasmi-async = { path = "./wasmi/wasmi-async" }
wasmi-hdk = { path = "./wasmi/wasmi-hdk" }
wasmi-pdk = { path = "./wasmi/wasmi-pdk" }
dioxus = { version = "0.7.1" }
tracing-log = "0.2.0"
futures = "0.3.31"
reqwest = "0.12.23"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
gloo-timers = { version = "0.3.0", features = ["futures"] }
getrandom = { version = "0.2", features = ["js"] }
uuid = { version = "1", features = [ "v4", "serde", "js" ] } 
simple_logger = "5.0.0"
thiserror = "2.0.12"
tokio = { version = "1.47.1", features = ["rt", "macros"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
tower-service = "0.3.3"
async-trait = "0.1.89"
wasm-bindgen-futures = "0.4"
web-time = "1.1.0"
rand = "0.9.2"
wasmi = "0.51.0"

[patch.crates-io]
# alloy = { git = "https://github.com/Robert-MacWha/alloy", branch = "wasm32-wasip-support" }
alloy = { path = "../alloy/crates/alloy" }