[workspace]
members = [
    "frontend",
    "host",
    "plugins/eoa-vault",
    "plugins/eth-provider",
    "plugins/plugin-template",
    "plugins/vault-page",
    "tlock-alloy",
    "tlock-api",
    "tlock-hdk",
    "tlock-pdk",
]

resolver = "2"

[workspace.dependencies]
alloy = { version = "1.1.2", features = ["wasm-bindgen", "json-rpc", "rpc-types-trace", "eip712"] }
async-trait = "0.1"
dioxus = { version = "0.7.1" }
futures = "0.3.31"
getrandom = { version = "0.2", features = ["js"] }
gloo-timers = { version = "0.3.0", features = ["futures"] }
host = { path = "./host" }
rand = "0.9.2"
reqwest = "0.12.23"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
thiserror = "2.0.12"
tlock-alloy = { path = "./tlock-alloy" }
tlock-api = { path = "./tlock-api" }
tlock-hdk = { path = "./tlock-hdk" }
tlock-pdk = { path = "./tlock-pdk" }
tokio = { version = "1", features = ["rt", "time", "sync", "macros"] }
tower-service = "0.3.3"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
uuid = { version = "1", features = [ "v4", "serde", "js" ] } 
wasm-bindgen-futures = "0.4"
wasmi = "1"
wasmi-plugin-pdk = { version = "0.1" }
wasmi-plugin-hdk = { version = "0.1" }

[profile.release]
lto = true

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[patch.crates-io]
alloy = { git = "https://github.com/Robert-MacWha/alloy", branch = "wasm32-wasip-support" }
wasmi-plugin-pdk = { path = "../wasmi-plugin-framework/crates/wasmi-plugin-pdk" }
wasmi-plugin-hdk = { path = "../wasmi-plugin-framework/crates/wasmi-plugin-hdk" }
# alloy = { path = "../alloy/crates/alloy" }