name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-wasip1

    - uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build

    - name: Build plugin
      run: cargo build --target wasm32-wasip1 -p test-plugin --release

    - name: Run tests
      run: cargo test